In [ ]:
#Module 4
#Bashu Pokhrel

In [ ]:
#11.1
# Create zoo.py file
# Content of zoo.py
def hours():
    print('Open 9-5 daily')

In [ ]:
import zoo
zoo.hours()

In [ ]:
#11.2
import zoo as menagerie
menagerie.hours()

In [ ]:
#16.8
pip install sqlalchemy

from sqlalchemy import create_engine, select, Table, MetaData

# Create an engine to connect to the SQLite database
engine = create_engine('sqlite:///books.db', echo=True)

# Define metadata
metadata = MetaData()

# Reflect the existing database into a new metadata object
metadata.reflect(bind=engine)

# Get the book table from the metadata
book_table = metadata.tables['book']

# Create a select statement to select the title column from the book table
select_statement = select([book_table.c.title]).order_by(book_table.c.title)

# Execute the select statement and fetch all results
with engine.connect() as connection:
    result = connection.execute(select_statement)
    # Iterate over the result and print the titles
    for row in result:
        print(row[0])